/*
    font-family: 'Aladin', cursive;

    font-family: 'Poppins', sans-serif;

    font-family: 'Roboto', sans-serif;

    font-family: 'Ubuntu', sans-serif;

*/

*{
	margin:0;
	padding:0; 
}

body{
	font-family: 'Ubuntu', sans-serif;
	padding-right: 95px;
	padding-left: 95px;
	background: #dcdde1;
}

.logo{
	font-family: 'Aladin', cursive;
	font-weight: 700px;
	font-size: 80px;
	text-align: center;
	color:#535c68;
}

.hf-menu{
	height: 45px;
	width: 100%;
	background: #f5f6fa;
	margin-top: 20px;
	padding-top: 17px;
	
}

.hf-menu nav ul li{
	display: inline-flex;
	font-family: 'Ubuntu', sans-serif;
	font-size: 90%;
	padding-left: 40px; 
	padding-right: 28px;
	color: #535c68;
	list-style: none;
}

.hf-menu nav ul li a{
	font-size: 28px;
	color: #535c88;
	text-decoration: none;
	text-align: center;
}
.hf-menu nav{
	
}
.hero{
	background: #535c68;
	color: #fff;
	padding: 15% 30%;
}

.content-wraper{
	background: #000;
	width: 400px;
	
}
.content-wraper h2{
	text-align: center;
	padding: 10px;
}
.content-wraper p{
	text-align: justify;
	padding: 10px;
}
.box{
	display: inline-flex;
	margin: 12px 0px;
}
.box-deco{
	width: 23%;
	text-align: center;
	margin-right: 20px;
	background: #f5f6fa;
	padding: 10px;
	border: 5px;
	border-radius: 5%;
}
.box-deco-last{
	margin-right: 0px;
}
.box-deco i{
	font-size: 55px;
	color: rgb(14, 117, 117);
	
}
.box-deco h2{
	font-size: 55px;
	color: rgb(14, 117, 117);
	text-align: center;
	text-transform: uppercase;
	padding: 15px 0px;
}
.box-deco p{
	color: rgb(14, 117, 117);
	text-align: justify;
}

.client{
	color: #fff;
	background: rgb(14, 117, 117);
	margin: 10px 0px;
}
.client h1{
	padding: 30px;
	font-size: 40px;
	text-align: center;
}
.team{
	width: 100%;
	display: inline-flex;
}
.t-1{
	width: 26%;
	background: teal;
	color: #fff;
	margin-right: 10px;
	padding: 10px;
	text-align: justify;
}
.t-last{
	margin-right: 0px;
}
.t-1 h1{
	font-size: 25px;
	margin-bottom: 8px;
}
.t-1 img{
	width: 100%;
}
.t-1 button{
	margin: 8px 0px;
	width: 100%;
	height: 30px;
	border: none;
}
.hf-menu{
	display: inline-block;text-align: center;
}
.footer-menu nav ul li a{
	font-size: 15px;
}

@media only screen and (min-width:320px) and (max-width:425px){
	body{
		padding: 10px;
	}
	.logo{
		font-size: 25px;
	}

	.hf-menu {
  height: 75px;
  width: 95%;
  background: #f5f6fa;
  margin-top: 20px;
  padding-top: 17px;
	padding: 0px 25px;}

	.hf-menu nav ul li {
		display: inline-flex;
		font-family: 'Ubuntu', sans-serif;
		font-size: 11.5px;
		padding-left: 15px;
		padding-right: 15px;
		color: #535c68;
		list-style: none;
		padding-top: 5px;
		padding-bottom: 5px;}
		.hf-menu nav ul li a{
			font-size: 110%;
			padding-top: 10px;
		}
		.hero {
			background: #535c68;
			color: #fff;
			padding: 50px 60px;
			margin-left: -10px;
		  }
		  .content-wraper {
			width: 90%;
			font-size: 72%;
		  }
		  .box {
			display: inline-block;
			margin: 12px 0px;
		  }
		  .box-deco {
			width: 95%;
			text-align: center;
			margin-bottom: 20px;
			background: #f5f6fa;
			padding: 10px;
			border: 5px;
			border-radius: 5%;
			margin-right: 5px;
		  }
		  .team{
			display: inline-block;
		  }
		  .t-1{
			width: 95%;
			margin-bottom: 10px;
		  }

}
